body {font-family: Trebuchet MS, Verdana, Arial, Helvetica, sans-serif !important;}
.floatLeft {float:left;}
.floatRight{float:right;}
.Amount, .Date {width:100px;}

/* Table */
td {margin:3px;}
.tdLeft 	{text-align:left;}
.tdRight {text-align:right;}
.tdCenter {text-align:center;}

.dataTables_wrapper {
	margin:10px;
}

.dataTables_filter {
	float:right;
	text-align: right;
}

/* Header H2 */
.h2Header {
	text-align: center;
	padding: 10px 0px;
	margin-top: 0 !important;
}

/* Autocomplete */

.ui-helper-hidden-accessible {
	display:none;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
	border: 1px solid #999999;
	background: #dadada url("images/ui-bg_glass_75_dadada_1x400.png") 50% 50% repeat-x;
	font-weight: normal;
	color: #212121;
}
.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited,
.ui-state-focus a,
.ui-state-focus a:hover,
.ui-state-focus a:link,
.ui-state-focus a:visited {
	color: #212121;
	text-decoration: none !important;
}
.ui-autocomplete {
	z-index: 5000 !important;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	float: left;
	display: none;
	min-width: 160px;
	_width: 160px;
	padding: 4px 2px;
	margin: 2px 0 0 0;
	list-style: none;
	background-color: #ffffff;
	border-color: #ccc;
	border-color: rgba(0, 0, 0, 0.2);
	border-style: solid;
	border-width: 1px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
	border-right-width: 2px;
	border-bottom-width: 2px;

}
.ui-autocomplete .ui-menu-item > a.ui-corner-all {
	display: block;
	padding: 3px 15px;
	clear: both;
	font-weight: normal;
	line-height: 18px;
	color: #555555;
	white-space: nowrap;
}
.ui-autocomplete .ui-menu-item .ui-state-hover, .ui-autocomplete .ui-menu-item .ui-state-active {
	color: #ffffff;
	text-decoration: none;
	background-color: #0088cc;
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	background-image: none;
}


.ui-autocomplete .ui-menu-item {
	padding : 2px !important;
} 	
.ui-autocomplete .ui-menu-item > a {
	padding : 2px !important;
	text-decoration: none !important;
} 	
.ui-autocomplete .ui-menu-item > a :hover{
	text-decoration: none !important;
} 	
.md-virtual-repeat-container.md-autocomplete-suggestions-container {
    z-index:2000 !important;
}	

.modal-body .form-group {
    display: inline-block !important;
    width: 100%;    
}
.modal-body .form-group:first {

}

#ConfirmBox {
    z-index: 1060;
}