
<div class="container">
    <div class="row">
      <h1 class='h1Header'>Mechanic Shop Pro</h2>
    </div>
    <div class="row">
      <form class="form-signin">
        <h2 class="form-signin-heading">Please sign in</h2>
        <div class="form-group">
          <label for="inputEmail" class="sr-only">Email address</label>
          <input type='text' class="form-control" placeholder="Email address" id="Email" name="Email" ng-model='Email' autofocus/>
        </div>
        <div class="form-group">
          <label for="inputPassword" class="sr-only">Password</label>
          <input type='password' class="form-control" placeholder="password" id="Password" name="Password" ng-model='Password'/>
        </div>
        <button type='button' class="btn btn-lg btn-primary btn-block" ng-click="Login()">Login</button>
      </form>	
    </div>
</div>    


